<% include ./partials/header %>

     <div class="row">
        <div class="col-lg-0 col-md-1 col-sm-2 col-xs-2"></div>
        <div class="jumbotron">
            <h1 class="text-center">Hi <%= user.linkedinFirstName %>, here is an overview of your profile contents! </h1>
        </div>
        <div class="col-lg-12 col-md-10 col-sm-8 col-xs-8">
            <div class="row">
                <div class="col-xs-6 account">
                    <h3 class="text-center">Account Info
                    <a href="<%= user._id %>/edit"><i class="fa fa-pencil"></i></a>
                    <form class="delete-form" action="/user/<%= user._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-xs"><i class="fa fa-trash"></i></button>
                    </form></h3>
                    <div class="row">
                        <div class="">
                            <div class="thumbnail">
                                <span class="text-center"><img class="img-circle img-responsive" src= <%= user.avatar %>> </span>
                                <p>Username: <%= user.username %> </p>
                                <p>Name: <%= user.linkedinFirstName + ' ' + user.linkedinLastName %> </p>
                                <p>Email: <%= user.linkedinEmail %> </p>
                                <p>Phone: <%= user.phone %> </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 account">
                    <h3 class="text-center">Resumes <span class="badge"><%= user.resumes.length %></span> <a href="/user/<%= user._id %>/resume/new"><span class="fa fa-plus"></span></a></h3>
                    <% if(user.resumes && user.resumes.length > 0) { %>
                        <!--<p>You have <%= user.resumes.length %> resumes</p>-->
                        <ul>
                            <!--Loop through the resumes -->
                            <% user.resumes.forEach(function(resume){ %>
                                <li>
                                    <a href="/user/<%= user._id %>/resume/<%= resume.id %>/edit" title="Edit Resume"><%= resume.alias %></a>
                                    <!--<a href="<%= user._id %>/resume/<%= resume.id %>/edit"><i class="fa fa-pencil"></i></a>-->
                                    <a href="/user/<%= user._id %>/resume/<%= resume.id %>/print" target="_blank" title="View Printable Version"><i class="fa fa-print"></i></a>
                                    <!--<form>-->
                                    <!--    <a href="<%= user._id %>/resume/<%= resume.id %>/delete"><i class="fa fa-trash"></i></a>-->
                                    <!--</form>-->
                                </li>
                            <% }) %>
                        </ul>
                    <% } else { %>
                        <p>No resumes found</p>
                    <% } %>
                </div>
                <div class="col-xs-6 account">
                    <h3 class="text-center">Cover Letters <span class="badge"><%= user.coverLetters.length %></span> <a href="/user/<%= user._id %>/coverletter/new"><span class="fa fa-plus"></span></a></h3>
                    <% if(user.coverLetters && user.coverLetters.length > 0) { %>  
                        <!--<p>You have <%= user.coverLetters.length %> cover letters</p>-->
                        <ul>
                            <!--Loop through the cover letters -->
                            <% user.coverLetters.forEach(function(letter){ %>
                                <li><a href="/user/<%= user._id %>/coverletter/<%= letter.id %>/edit"><%= letter.title %></a></li>
                            <% }) %>
                        </ul>
                    <% } else { %>
                        <p>No cover letters found</p>
                    <% } %>
                </div>
                <div class="col-xs-6 account">
                    <h3 class="text-center">References <span class="badge"><%= user.references.length %></span> <a href="/user/<%= user._id %>/reference/new"><span class="fa fa-plus"></span></a></h3>
                    <% if(user.references && user.references.length > 0) { %>
                        <!--<p>You have <%= user.references.length %> references</p>-->
                        <ul>
                            <!--Loop through the references -->
                            <% user.references.forEach(function(reference){ %>
                                <li><a href="/user/<%= user._id %>/reference/<%= reference.id %>/edit"><%= reference.name %></a></li>
                            <% }) %>
                        </ul>
                    <% } else { %>
                        <p>No references found</p>
                    <% } %>
                </div>
            </div>
            <div class="row">
            </div>
        </div>
    </div>
    
<% include ./partials/footer %>